/* layout fluid would use flexbox but i find it alot more confusing */

body {
    background-color: #F5F5F0;
    font-family: Arial, sans-serif;
    max-width: 100%;
    display: grid;
    grid-template-areas:
        "header header"
         "alert alert"
        "aside main"
        "footer footer";
        grid-template-columns: 250px 1fr;
        grid-template-rows: auto auto 1fr auto;
        color: #2B2B2B;
        gap: 0.5em;

}
/* alert box + header style */
header {
    grid-area: header;
    text-align: center;
    background-color:  #9BAE91;
}
.alert {
    grid-area: alert;
    font-weight: bold;
    background-color:  #FFF9C4;
    padding: 0.5em;
    color: #2B2B2B;
    
}

img {
   max-width: 100%;
   height: auto;
   width: 18%;
   text-align: center;

}
/* sidebar menu style */
aside {
    grid-area: aside;
    background-color: #D8DDD2;
    padding: 1em;
}
aside ul{
    list-style: none;
    padding: 0;
    margin: 0;
   
}
aside a {
    text-decoration: none;
    line-height: 4;
    display: block;
    color: #2B2B2B;
    padding: 0.5em;
    transition: all 0.3s;
    font-weight: bold;

}


aside a:hover {
    background-color: #5F7B61;
    font-weight: bold;


}
aside a:active {
    color:  #3E5F3B;

}
aside a:focus {


}
/* main style content */
main {
    grid-area: main;
    padding: 1em;
    background-color: #FFFDF0;

}
.floater {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}
.section, .floater {
    background-color: #F3F3E8;
    padding: 1em;
}
/* style for my footer */
footer {
    grid-area: footer;
    text-align: center;
    background-color: #B7AFA3;
}